/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

// Colors
$primary: #B0C4DE;
$secondary: #7B899B;
$tertiary: #F2F7FE;
$accent: #E4F0FE;
$dark: #56606C;
$white: #fff;
$black: #000;

// Font Families
$mont: 'Montserrat', sans-serif;
$lora: 'Lora', serif;
$noelan: 'Noelan', serif;

// Font Weights
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// Box Shadow
$box_shadow: 0 1px 10px 3px rgba(0, 0, 0, .08);
