/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

// Colors
$primary: #122839;
$secondary: #e14a22;
$tertiary: #03121d;
$accent: #52687b;
$light-gray: #e6e8ed;
$white: #fff;
$black: #000;

// Font Families
$mont: 'Montserrat', sans-serif;
$lora: 'Lora', serif;
$noelan: 'Noelan', serif;

// Font Weights
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// Box Shadow
$box_shadow: 0 1px 10px 3px rgba(0, 0, 0, .08);
