/*----------------------------------------------------------------------------
  Variables
----------------------------------------------------------------------------*/

// Colors
$primary: #eef0ef;
$secondary: #e8d6cb;
$tertiary: #e7e2dd;
$accent: #414b33;
$dark: #4c4d50;
$white: #fff;
$black: #000;

// Font Families
$mont: 'Montserrat', sans-serif;
$spec: 'Spectral SC', serif;
$val: 'Valledofas', serif;

// Font Weights
$thin: 100;
$thinI: 100i;
$extraLight: 200;
$extraLightI: 200i;
$light: 300;
$regular: 400;
$semibold: 600;
$bold: 700;

// Box Shadow
$box_shadow: 0 1px 10px 3px rgba(0, 0, 0, .08);
