/*----------------------------------------------------------------------------
  Blog
----------------------------------------------------------------------------*/
.blog-archive {
  padding: rem(50);

  &__single-img {
    min-height: rem(300);
  }

  &__category {
    display: flex;
    justify-content: center;
    position: relative;
    top: rem(-30);
    height: rem(50);
    width: 80%;
    margin: auto;
    line-height: rem(50);
    background-color: $dark;

    .post-categories {
      list-style: none;
      padding: 0;
      margin: auto;

      li {
        margin-bottom: 0;
      }
    }
  }

  &__title {
    margin-bottom: 0;
  }

  p {
    font-size: rem(14);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: rem(25);
    max-height: rem(100);

    @media (-webkit-min-device-pixel-ratio: 0) {
      display: -webkit-box;
      -webkit-line-clamp: 4; /* number of lines to show */
      -webkit-box-orient: vertical;
    }
  }

  hr {
    border: 1px solid $dark;
  }
}
