/*----------------------------------------------------------------------------
  Blog
----------------------------------------------------------------------------*/
.blog {
  .global-title {
    margin-bottom: 0;
    margin-right: rem(50);
  }

  &__content {
    padding: rem(40) 0;
  }
}

.blog-archive {
  padding: rem(50);

  &__single-img {
    min-height: rem(300);
  }

  &__category {
    display: flex;
    justify-content: center;
    position: relative;
    top: rem(-30);
    height: rem(50);
    width: 80%;
    margin: auto;
    line-height: rem(50);
    background-color: $primary;

    .post-categories {
      list-style: none;
      padding: 0;
      margin: auto;

      li {
        margin-bottom: 0;

        a {
          color: $dark;
        }
      }
    }
  }

  &__title {
    margin: auto;
    margin-bottom: 0;
  }

  p {
    font-size: rem(14);

    a {
      display: flex;
      justify-content: center;
      padding: rem(15) 0;
      font-size: rem(18);
      text-transform: uppercase;
      color: $dark;

      .meta-nav {
        padding-left: rem(5);
      }
    }
  }

  hr {
    border: 1px solid $dark;
  }
}

.blog-single {
  padding: rem(50);

  &__img {
    margin-bottom: rem(30);
  }
}

.blog-more {
  padding: rem(30) 0;
  background-color: $tertiary;

  p {
    font-size: rem(14);

    a {
      display: flex;
      justify-content: center;
      padding: rem(15) 0;
      font-size: rem(18);
      text-transform: uppercase;
      color: $dark;

      &:hover {
        color: $secondary;
      }

    }
  }
}
