/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/
.about {
  .button {
    position: absolute;
    bottom: rem(60);
    right: rem(-50);
  }
}
