/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/
.about-global {

  &__img {
    min-height: rem(400);
  }

  &__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
