/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/
.about {
  padding: rem(50);
  
  .button {
    position: absolute;
    bottom: rem(60);
    right: rem(-50);
  }
}
