/*----------------------------------------------------------------------------
  Buttons
----------------------------------------------------------------------------*/
.button, button {
  display: inline-flex !important;
  margin: rem(5) 0;
  position: relative;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  padding: rem(15) rem(50);
  font: 400 rem(16)/rem(26) $mont;
  text-decoration: none;
  color: $white;
  transition: all .3s ease;
  &--primary {
    border: 1px solid $white;
    &:hover {
      background-color: $white;
      color: $dark;
      cursor: pointer;
      text-decoration: none;
    }
  }
  &--secondary {
    background-color: $primary;
    border: 1px solid $primary;
    &:hover {
      cursor: pointer;
      background-color: $white;
      color: $primary;
      text-decoration: none;
    }
  }
  &--dark {
    text-transform: uppercase;
    background-color: $dark;
    border: 1px solid $dark;
    &:hover {
      color: $secondary;
      cursor: pointer;
    }
  }

  & + .button {
    margin-left: rem(10);
  }
  & + button {
    margin-left: rem(10);
  }
}
