/*------------------------------------------------------------------------------
  Footer
------------------------------------------------------------------------------*/
.footer {

  background-color: $primary;

  ul {
    display: flex;
    list-style: none;
    margin: rem(20);
    padding: 0;

    li {
      margin: 0 rem(15);
      margin-bottom: 0;
      font-size: rem(10);
      text-transform: uppercase;
      color: $dark;

      &:after {
        content: "|";
        position: relative;
        left: 15px;
      }

      &:last-of-type {
        &:after {
          content: "";
        }
      }

      a {
        color: $dark;
      }
    }
  }
}

// Instagram Feed
#sb_instagram {
  padding-top: rem(30);
  padding-bottom: rem(40) !important;
  background-color: $tertiary;
}

#sbi_images {
  height: rem(250);
  overflow: hidden;

  .sbi_item {
    width: 20% !important;
  }
}

#sbi_load {
  display: none;
}
