/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/

.header {
  background-color: $primary;

  img {
    max-width: 80%;
  }

  .small-logo {
    margin-bottom: 0;
    font: 400 rem(70)/rem(80) $val;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-content: center;
      height: rem(50);
      margin: 0;

      a {
        margin: auto;
        font-size: rem(14);
        text-transform: uppercase;
        color: $dark;

        &:hover {
          color: $secondary;
        }
      }
    }
  }
}
