/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/

.header {
  background-color: $primary;

  .menu {
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-content: center;
      height: rem(50);
      margin: 0;
      padding-right: rem(40);

      a {
        margin: auto;
        font-size: rem(14);
        text-transform: uppercase;
        color: $dark;

        &:hover {
          color: $secondary;
        }
      }
    }
  }

  #menu-primary-left {
    justify-content: flex-end;

    li {
      padding-left: rem(40);
      padding-right: 0;
    }
  }
}
