/*------------------------------------------------------------------------------
  Header
------------------------------------------------------------------------------*/

.header {
  background-color: $primary;

  img {
    max-width: 80%;
  }

  .small-logo {
    margin-bottom: 0;
    font: 400 rem(70)/rem(80) $val;
  }

  .menu {
    display: flex;
    justify-content: space-around;
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      display: flex;
      align-content: center;
      height: rem(50);
      margin: 0;
      border-bottom: 1px solid transparent;

      a {
        margin: auto;
        font-size: rem(14);
        text-transform: uppercase;
        color: $dark;
      }

      &:hover {
        border-bottom: 1px solid $secondary;

        a {
          color: $secondary;
        }
      }
    }
  }
}

.current-menu-item {
  border-bottom: 1px solid $secondary !important;
}

.mobile-logo {
  max-height: rem(75);

  img {
    width: 100%;
    max-height: rem(75);
  }
}

.nifty-panel {
  ul {
    list-style: none;
    padding-left: rem(20);
    margin-top: rem(15);

    li {
      padding: rem(10);
      border-bottom: none !important;

      a {
        font-size: rem(35);
        text-transform: uppercase;
      }
    }
  }

  .current-menu-item {
    a {

      &:before {
        position: relative;
        padding-right: rem(10);
        top: rem(-3);
        left: 0;
        content: "\f105";
        font-family: FontAwesome;
        font-size: rem(30);
        font-weight: 300;
      }
    }
  }
}
