/*----------------------------------------------------------------------------
  Sidebar
----------------------------------------------------------------------------*/
.widget_categories, .widget_tag {
  padding-bottom: rem(10);
  background-color: $primary;

  h2 {
    position: relative;
    padding: rem(5) rem(10);
    width: 110%;
    left: -5%;
    top: rem(-15);
    text-align: center;
    font: 300 rem(25)/rem(30) $mont;
    background-color: $secondary;
  }

  ul {
    position: relative;
    top: rem(-10);
    list-style: none;

    li {
      a {
        color: $dark;
      }
    }
  }
}

.site-owner {
  margin-top: rem(40);

  &__welcome {
    position: relative;
    width: 60%;
    margin: auto;
    padding: rem(10) 0 rem(5);
    top: rem(-30);
    font-size: rem(60);
    text-align: center;
    line-height: rem(60);
    background: $dark;
    color: white;
  }
}

.social-menu ul {
  display: flex;
  justify-content: center;
  padding: rem(10);

  .menu-item {
    display: inline-block;
    margin: rem(10);

    a {
      font-size: 0;
      text-decoration: none;

      &:before {
        font-family: 'FontAwesome';
        font-size: 30px;
        color: $dark;
        transition: 0.3s all ease;
      }

      &:hover:before {
        color: $secondary;
      }

      &[href*="facebook.com"]::before {
        content: '\f09a';
      }
      &[href*="twitter.com"]::before {
        content: '\f099';
      }
      &[href*="instagram.com"]::before {
        content: '\f16d';
      }
      &[href*="linkedin.com"]::before {
        content: '\f0e1';
      }
    }
  }
}
