/*------------------------------------------------------------------------------
  About
------------------------------------------------------------------------------*/
.about-content {
  padding-top: rem(50);
  background-color: $tertiary;
}

.about-contributors {
  padding: rem(50) 0;

  &__headline {
    padding: rem(30) 0;
  }

  &__img {
    height: rem(200);
    border-radius: 50%;
  }

  &__wrap {
    margin-top: rem(30);
    margin-bottom: rem(30);
  }
}
