/*------------------------------------------------------------------------------
  About
------------------------------------------------------------------------------*/
.about-content {
  padding: rem(50) 0;
  background-color: $tertiary;
}

.about-contributors {
  padding: rem(50) 0;

  &__headline {
    padding: rem(30) 0;
  }

  &__img {
    height: rem(200);
    border-radius: 50%;
  }
}
