/*------------------------------------------------------------------------------
  About
------------------------------------------------------------------------------*/
.page-id-7 {
  .global-hero__img {
    @include aspect-ratio(5,2);
  }
}

.about-content {
  padding-top: rem(50);
  background-color: $tertiary;
}

.about-contributors {
  padding: rem(50) 0;

  &__headline {
    padding: rem(30) 0;
  }

  &__img {
    margin: auto;
    max-width: rem(200);
    height: rem(200);
    border-radius: 50%;
  }

  &__wrap {
    margin-top: rem(30);
    margin-bottom: rem(30);
  }
}

// Media Queries
@media screen and (max-width:$small-breakpoint) {
  .about-contributors {

    &__headline {
      margin-bottom: 0;
      font-size: rem(26);
    }

    &__img {
      margin-bottom: rem(20);
    }
  }
}
