/*------------------------------------------------------------------------------
  Store
------------------------------------------------------------------------------*/

.description {
  background-color: $tertiary;
}

.calligraphy-products {
  padding: rem(50) 0;
}

.calligraphy-product {
  min-height: rem(300);
}
