/*------------------------------------------------------------------------------
  Fonts
------------------------------------------------------------------------------*/

@font-face {
	font-family: Noelan;
	src: url(../../assets/fonts/noelan.otf);
	font-weight: normal;
}
