/*------------------------------------------------------------------------------
  Fonts
------------------------------------------------------------------------------*/

@font-face {
	font-family: Valledofas;
	src: url(../../assets/fonts/Valledofas.otf);
	font-weight: normal;
}
