/*------------------------------------------------------------------------------
  Typography
------------------------------------------------------------------------------*/

// Headers
h1 {
  margin: 0 0 rem(30);
  font: $extraLight rem(45)/rem(40) $spec;
  color: $dark;
}

h2 {
  margin: 0 0 rem(20);
  font: $thin rem(30)/rem(35) $mont;
  letter-spacing: rem(5);
  color: $dark;
}

h3 {
  margin: 0 0 rem(15);
  font: $regular rem(22)/rem(30) $mont;
  text-transform: uppercase;
  color: $dark;
}

h4 {
  margin: 0 0 rem(15);
  font: $thin rem(16)/rem(25) $mont;
  color: $dark;
}

h5 {
  margin: 0 0 rem(15);
  font: $regular rem(12)/rem(18) $mont;
  text-transform: uppercase;
  color: $dark;
}

h6 {
  margin: 0 0 rem(10);
  font: $light rem(20)/rem(25) $mont;
  color: $black;
}

.script {
  font: $regular rem(125)/rem(125) $val;

  &--small {
    font-size: rem(80);
    line-height: rem(80);
  }
}

// Body Copy
p, ul, ol, li {
  margin: 0 0 rem(15);
  font: $light rem(16)/rem(25) $mont;
  letter-spacing: rem(0.5);
  color: $dark;
}

// Links
a {
  font-family: $mont;
  color: $dark;
  text-decoration: none;
  transition: all .25s ease;

  &:hover {
    color: rgba(76,77,80,0.5);
    cursor: pointer;
  }

  i {
    position: relative;
    top: rem(3);
    font-size: rem(24) !important;
  }
}
