/*------------------------------------------------------------------------------
  Home Hero
------------------------------------------------------------------------------*/
.home-hero {
  min-height: calc(100vh - 50px);
}

.home-slider {


  &__slide {
    h2 {
      text-transform: uppercase;
      font: $light rem(45)/rem(56) $mont;
      color: $white;
    }
  }
}
